#frame1{
    left:25%;   
}

#frame2{
    left:75%;
}

#Step2{
    cursor: crosshair;
}

/* Calibration point position */
#Pt1{
    top: 2vh;
    left:2vw;
}
#Pt2{
    top: 2vh;
    left:50vw;
}
#Pt3{
    top: 2vh;
    right:2vw;
}
#Pt4{
    top:50vh;
    left:2vw;
}
#Pt5{
    top: 50vh;
    left: 50vw;
}
#Pt6{
    top: 50vh;
    right:2vw;
}
#Pt7{
    bottom:2vh;
    left: 2vw;
}
#Pt8{
    bottom:2vh;
    left:50vw;
}
#Pt9{
    bottom:2vh;
    right:2vw;
}
#Pt10{
    top: 25vh;
    left:25vw;
}
#Pt11{
    top: 25vh;
    left:50vw;
}
#Pt12{
    top: 25vh;
    left:75vw;
}
#Pt13{
    top:50vh;
    left:25vw;
}
#Pt14{
    top: 50vh;
    left: 75vw;
}
#Pt15{
    top: 75vh;
    left:25vw;
}
#Pt16{
    top:75vh;
    left: 50vw;
}
#Pt17{
    top:75vh;
    left:75vw;
}

#test{
    cursor: none;
}

#faceOverlay {
    width: 117px;
    height: 117px;
    z-index: 6;
}

/* Calibration button styling */
.Calibration{
    width: 20px;
    height: 20px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background-color: red;
    opacity: 0.2;
    border-color: black;
    border-style: solid;
    position:fixed;
    cursor: crosshair;
    z-index: 9;
}

.Step{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    /*border: 3px solid #73AD21; //debugging purposes*/
}

.centerFrames{
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    /*border: 3px solid #73AD21; //debugging purposes*/
    width: 45%;
    overflow: auto;
    visibility: hidden;
    z-index: 3;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: none;
}
